html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  font-size: 26px;
  padding: 5px;
}
