.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

table, tr, td {
  box-sizing: border-box;
  border-collapse: collapse;
}

td {
  border: 1px solid grey;
  padding: 0;
}
tr {
  padding: 0;
}
.wall {
  background: black;
}
