.wall {
  background-color: black;
  transition: background-color 10ms linear;
}

.cell {
  background-color: white;
  transition: background-color 10ms linear;
}
.start {
  background-color: green;
}

.end {
  background-color: red;
}
